{% extends "main.njk" %}

{% block head %}
	<script type='text/javascript'>
		window.addEventListener('load', function () {
			document.body.className = 'all';
			var elements = document.querySelectorAll('.categories .radio-button');

			elements.forEach(function (e) {
				e.addEventListener('change', function() {
					document.body.className = this.value;
				})
			});
		});
	</script>

  <style type='text/css'>
    {% for category in collections.categories %}
    body.{{category}} .card:not(.{{category}}) {
      visibility: hidden;
      display: none;
    }
    {% endfor %}
  </style>
{% endblock %}

{% block icon %}
  <svg xmlns="http://www.w3.org/2000/svg" version='1.1' aria-hidden='true' width='50' height='50' viewBox='0 0 14 16'>
    <path fill-rule="evenodd" d="M8 9l3 6h-1l-2-4v5H7v-6l-2 5H4l2-5 2-1zM7 0H6v1h1V0zM5 3H4v1h1V3zM2 1H1v1h1V1zM.63 9a.52.52 0 0 0-.16.67l.55.92c.13.23.41.31.64.2l1.39-.66-1.16-2-1.27.86.01.01zm7.89-5.39l-5.8 3.95L3.95 9.7l6.33-3.03-1.77-3.06h.01zm4.22 1.28l-1.47-2.52a.51.51 0 0 0-.72-.17l-1.2.83 1.84 3.2 1.33-.64c.27-.13.36-.44.22-.7z"></path>
  </svg>
{% endblock %}

{% block main %}
  <section class='categories'>
    <input type='radio' class='radio-button' name='categories' value='all' id='button-all' checked />
    <label for='button-all'>All</label>
    {% for category in collections.categories %}
      <input type='radio' class='radio-button' name='categories' value='{{ category | lower }}' id='button-{{ category | lower }}' />
      <label for='button-{{ category | lower }}'>{{ category | capitalize }}</label>
    {% endfor %}
  </section>

  <section class='grid'>
    {% for project in collections.projects %}
      <a class='{{ project.data.tags | join(" ") }}' href='{{ project.url | url }}'>
        <img src='{{ "/img/" + project.data.image | url }}'/>
        <div class='content'>
          <h3>{{ project.data.title }}</h3>
          <p>{{ project.data.description }}<p>
        </div>
      </a>
    {% endfor %}
  </section>
{% endblock %}